[submodule "monado"]
	path = monado
	url = https://gitlab.freedesktop.org/slitcch/monado.git
	branch = mt/win32-hand-tracking-2
	
[submodule "hand-tracking-models"]
	path = hand-tracking-models
	url = https://gitlab.freedesktop.org/monado/utilities/hand-tracking-models.git
	branch = master